<div class="container pt-3 x">
  
  <p id="notice"><%= notice %></p>

  <nav class="navbar navbar-expand-lg  ">
    <ul class="navbar-nav mr-auto justify-content-center">
      <li class="nav-item">
         <span class="nav-link"><h2>Discuss</h2></span>
      </li>
    </ul>
  </nav>
  <hr>
  
  <div class="" style="margin-left: 5%">
    <table class="" >
       <tbody>
         <tr>
           <td><strong>User ID:</strong></td>
           <td style="padding-left: 15px"><%= @discuss.user.name %></td>
          </tr>
          <tr>
            <td><strong>Content:</strong></td>
            <td style="padding-left: 15px"><%= @discuss.content %></td>
          </tr>
       </tbody>
    </table>
    <br>
    <div class="row">
        <div class="col-2">
            <button type="button"  class="nav-link btn btn-dark btn-sm " style="width: 100px">
              <%= link_to 'Back', discusses_path, class: 'text-white' %>
            </button>
        </div>
        <div class="col-8"></div>
    </div>
   </div>
<hr>

</div>