<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <p>
                            <% if @user.avatar.attached? %>
                            <%= image_tag @user.avatar, width: "100%" %>
                            <% end %>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= @user.name %></h4>
                        <p>
                            <%= @user.email %>
                            <br />
                            <%= @user.age %> years old
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>